<div class="jumbotron">
    <h1 class="title">1分钟极聘</h1>
    <p class="slogan">行动与犹豫之间只差一分钟
    <br>
    投递的简历都石沉大海？一分钟极聘帮助你拿到心仪职位的面试机会
    <br>
     只要你能一分钟之内清晰的阐明相应职位领域的一个观点，打动你未来的老板，必须邀请你到公司继续深入探讨
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">极速应征</a></p>
  </div>

  <section id="process">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://cdn.pingwest.com/wp-content/uploads/2013/12/voice-security.jpg" alt="expression" class = "img-thhumbnail">
            <div class="caption">
              <h3>上传1分钟语音阐明一个观点</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://www.plumvoice.com/wp-content/uploads/2014/01/happy-employees.gif" alt="satisfaction" class = "img-thhumbnail">
            <div class="caption">
              <h3>未来老板认可你的观点</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://www.nyfa.edu/student-resources/wp-content/uploads/2015/01/game-design-interview-questions.jpg" alt="interview" class = "img-thhumbnail">
            <div class="caption">
              <h3>邀请你到公司继续深入探讨</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
