<footer class="container" style="margin-top: 100px;">
  <div class="text-center">
  <p class ="fa fa-map-marker" style="margin-right: 10px;") >深圳罗湖京基100</p>
  <p class ="fa fa-envelope-o" style="margin-right: 10px;") >1munite@gmail.com</p>
    <p class ="fa fa-phone") >0755-12345678</p>
  </div>
  <p class="text-center">Copyright ©2016 Rails101
    <br>Design by Isaac

  </p>
</footer>
